<%- model_class = ProjectActivity -%>
<div class="page-header">
  <h1><%=t '.title', :default => ProjectActivity %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:deliver_date) %></th>
      <th><%= model_class.human_attribute_name(:details) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @project_activities.each do |project_activity| %>
      <tr>
        <td><%= project_activity.id %></td>
        <td><%= project_activity.name %></td>
        <td><%= project_activity.start_date %></td>
        <td><%= project_activity.deliver_date %></td>
        <td><%= project_activity.details %></td>
        <td><%=l project_activity.created_at, format: :long %></td>
        <td>
          <%= link_to project_activity_path(project_activity), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to project_activity_path(project_activity), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_activity_path,
            :class => 'btn btn-primary' %>
